.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/oso_madroño_logo_chunck.png');
    background-repeat: repeat;
    background-size: auto; 
}

.logo {
    margin: 0 16px;
}

.logo-wrapper {
    width: 60px; /* Establece el ancho del círculo */
    height: 60px; /* Establece la altura del círculo */
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    overflow: hidden; /* Oculta el desbordamiento */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 100px; /* Establece la altura a 40px */
    width: auto;  /* Mantiene la proporción de la imagen */
}

.header nav {
    margin-left: auto;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul a {
    text-decoration: none;
    height: 80px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: large;
}

.header ul a:hover {
    background-color: #f0f0f0;
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
}

.language-select {
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.language-select:focus {
    outline: none;
    border-color: #007bff;
}

